<div id="login">
    <div class="mui-conteiner mui--text-center">
        <div class="mui-row">
            <div class="mui-col-md-6 mui-col-md-offset-3">
                <img ng-src="img/logotipo.png" class="responsive-img" />
                <h2>Iniciar sesión</h2>
                <p>Escribe tu dirección de correo electrónico y contraseña</p>
                <div class="mui-panel">
                    <form class="mui-form" ng-submit="iniciarSesion()">
                        <div class="mui-textfield">
                            <input type="text" placeholder="Correo electrónico">
                            <label>Usuario</label>
                        </div>
                        <div class="mui-textfield">
                            <input type="pass" placeholder="Contraseña">
                            <label>Contraseña</label>
                        </div>
                        <button class="mui-btn mui-btn--primary">Iniciar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>